<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %>

<div class="container">
  <h2>Artigos</h2>
  <hr />

  <a class="btn btn-primary mb-3" href="/admin/articles/new">
    Criar novo artigo
  </a>

  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Corpo</th>
        <th>categoriaID</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% articles.forEach((article) => { %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.slug %></td>
        <td><%= article.body %></td>
        <td><%= article.tbCategoryId %></td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              id="select-action"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Ações
            </button>
            <div class="dropdown-menu p-2" aria-labelledby="select-action">
              <a
                class="btn btn-warning w-100"
                href="/admin/articles/edit/<%= article.id %>"
                >Editar</a
              >
              <form
                action="/articles/delete"
                medod="post"
                onsubmit="confirmDelete(event, this)"
              >
                <input type="hidden" name="id" value="<%= article.id %>" />
                <button class="btn btn-danger w-100 mt-2">Deletar</button>
              </form>
            </div>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer.ejs') %>

<script>
  const confirmDelete = (e, form) => {
    e.preventDefault();

    var decision = confirm("Deseja realmente deletar esse artigo?");
    decision ? form.submit() : "";
  };
</script>
