<%- include('../../partials/header.ejs') %>
<%- include('../../partials/home-navbar.ejs') %>

<div class="container">
  <% result.articles.rows.forEach(article => { %>
    <div class="card mb-3">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>
      <div class="card-body">
        <a href="/<%= article.slug %>" class="btn btn-primary">Ver mais</a>
      </div>
    </div>
  <% }) %>

  <div class="row">
    <div class="col col-row-12">
      <% if (result.next) { %>
        <a class="float-right" href="articles/page/<%= result.page + 1 %>">Next</a>
        <% } %>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>
