<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %>

<div class="container">
  <h2>Categorias</h2>
  <hr />

  <a class="btn btn-primary mb-3" href="/admin/categories/new">Criar nova categoria</a>

  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% categories.forEach((category) => { %>
      <tr>
        <th><%= category.id %></th>
        <th><%= category.title %></th>
        <th><%= category.slug %></th>
        <th></th>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer.ejs') %>
