<%- include('./partials/header.ejs') %>
<%- include('./partials/home-navbar.ejs') %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Bem vindo!</h1>
    <p class="lead">Este é um blog desenvolvido durante um curso.</p>
    <hr class="my-4">
    <p>Saiba mais sobre mim aqui!</p>
    <a class="btn btn-primary" href="#">Leia mais</a>
  </div>

  <% if (!articles.tbCategoryId) { %>
  <% articles.forEach(article => { %>
    <div class="card mb-3">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>
      <div class="card-body">
        <a href="/<%= article.slug %>" class="btn btn-primary">Ver mais</a>
      </div>
    </div>
  <% }) %>
  <% } else { %>
    <div class="alert">
      <p>Sem artigos no momento</p>
      <a href="/admin/articles/new">Criar meu próprio artigo</a>
    </div>
  <% } %>
</div>

<%- include('./partials/footer.ejs') %>
